* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}

:root { --primary-color: #36486b;
        --secondary-color: #c0cace;
        --teritary-color: rgb(41, 38, 38);

}

body, html {
    /* background-color: --secondary-color; */
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-color);
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Header Style */

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
 header {
     display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--teritary-color);
    position: relative;
 }

.header-title {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1;

}
header::before {
    content: "";
    height: 60px;
    width: 390px;
    background-color: var(--secondary-color);
    position: absolute;
    z-index: 0;
    left: 0;
    top: 37px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Hero Image */
.hero {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/squareheader.jpg");
    display: flex;
    justify-content: right;

}
.hero h2 {
    align-self: flex-end;
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px;

}
.section {
    height: 200px;
    width: 100%;
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.section-title {
    flex: 1;
    border-right: 3px solid var(--teritary-color);
    text-align: right;
    padding: 20px;
}

.section-content {
    flex: 3;
    padding: 20px;
}

.contact-info{
    display: flex;
    align-items: center;
    gap: 35px;
    background-color: black;
    justify-content:space-evenly
}
    /* display: inline-block;
    text-align: center;
    flex: 1;
    justify-content: space-between
} */
